
html, body {
    background-color: #e9eaed;
}

body {
    min-width: 940px;
}

input[type=text] {
    padding: 10px;
    overflow: hidden;
    width: 200px;
}

#main-nav-bar {
    width: 100%;
    height: 50px;
    background-color: #222;
    overflow: visible;
}

#main-nav-bar .x-logo-container {
    float: left;
    height: 100%;    
}

#main-nav-bar .x-logo-container .x-logo {
    height: 50px;
    margin-top: 1px;
}

.x-help-button-container {
    float: right;
}

.x-search-container, #search-results {
    width: 450px;   
}
.x-search-container {    
    margin: 0 auto;
    margin-left: 250px;
}

#search-results {
    position: fixed;
    min-height: 300px;
    max-height: 400px;
    height: 60%;
    z-index: 200;
    background-color: #fff;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}

#search-results .x-section-header {
    color: #9197a3;
    background-color: #f6f7f8;
    border-bottom: 1px solid #e9eaed;
    text-align: left;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    font-size: 12px;
}

#search-results.x-display {
    display: block;
}

#search-results .x-artist-search-result {
    width: 100%;
    overflow: hidden;     
    cursor: pointer;
    padding: 5px;
}

#search-results .x-artist-search-result:hover {    
    background-color: #e5e5e5;
}

#search-results .x-artist-search-result .x-artist-img-holder {
    width: 36px;
    height: 36px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;    
}

#search-results .x-artist-search-result .x-artist-info {
    overflow: hidden;    
} 

#search-results .x-artist-search-result .x-artist-info h4 {
    text-align: left;
    padding: 0;
    margin: 5px;
    font-weight: normal;
    color: #373e4d;
    font-size: 14px;
}

#search-results .x-artist-search-result .x-artist-info .x-artist-num-followers {
    color: #555;
    font-size: 14px;
    margin-left: 5px;
}

#main-search {
    margin-top: 10px;
    margin-bottom: 4px;
    width: 100%;
}

#search-dropdown {
    padding-top: 6px;
}

.input-group-btn {
    border-radius: 12px;
}

#help-button {
    display: inline-block;
    margin-top: 8px;
    height: 30px;
    width: 60px;
    cursor: pointer;
    background-image: url(icons/icon-help.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.x-main-wrapper {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    min-width: 940px;
}

.x-main-wrapper-inner {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

/* Tabs start */
ul.x-tabs {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;    
    background-color: #fff;
    border-left: 1px solid #aaa;
    height: 38px;
}

ul.x-tabs li.x-tab {
    float: left;
    display: block;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    border-right: 1px solid #aaa;
    margin: 0;
    color: #3b5998;
    position: relative;  
    font-weight: bold;
}

.x-tab-content {
    display: none;
}

.x-tab-content.x-active{
    display: block;    
}

ul.x-tabs li.x-tab.x-active {
    color: #373e4d;
    cursor: default;
}

ul.x-tabs .x-active-marker {
    display: none;
}

ul.x-tabs li.x-tab.x-active .x-active-marker {    
    background-image: url(icons/fb-icons.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -52px -401px;
    bottom: -1px;
    display: block;
    height: 9px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 17px;
}
/* Tabs end */

#main-left-pane {
    float: left;
    border-right: 1px solid #aaa;
    height: 100%;
    position: relative;
}

#main-left-pane .x-left-pane-inner {    
    overflow: hidden;
    width: 250px;
}

#main-left-pane.x-collapsed .x-left-pane-inner{
    display: none;
}

#main-left-pane .x-drawer-handle {
    position: absolute;
    top: 50%;
    right: -15px;
    height: 60px;
    width: 15px;
    cursor: pointer;
    z-index: 100;
    background-repeat: no-repeat;    
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    background-position: -2px 19px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
}

#main-left-pane .x-drawer-handle {
    background-image: url(icons/collapse-icon-left.png);
}

#main-left-pane.x-collapsed .x-drawer-handle {
    background-image: url(icons/collapse-icon-right.png);
    background-position: 1px 19px;
}

#left-pane-tab-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;            
}

#left-pane-tab-content .x-tab-content{
    height: 100%;
    width: 100%;
    background-color: #e9eaed;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

#main-right-pane {
    overflow: hidden;
    height: 100%;    
}

.x-artist-profile-holder {
    position: relative;    
    overflow: hidden;
    height: 100%;
}
.x-artist-profile-nav {
    overflow: hidden;      
    height: 160px;
    background-color: #fff;
    margin: 20px 20px 0 20px;
}

.x-profile-menu-holder {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #aaa;
}

.x-artist-profile-nav .x-right-profile {      
    overflow: hidden;
    position: relative;  
    height: 100%;
}

#profile-name {
    margin-left: 5px;
}

.x-follow-widget-holder {
    margin-left: 5px;
    margin-top: 30px;
}

.x-artist-profile-nav .x-artist-profile-pic-holder {
    float: left;
    width: 200px;
    overflow: hidden;
    height: 100%;
    text-align: center;
}

.x-artist-profile-nav .x-artist-profile-pic-holder img#profile-picture{
    height: 100%;
    cursor: pointer;
}

#profile-tab-content {
    position: absolute;
    top: 190px;
    bottom: 100px;
    left: 20px;
    right: 20px;       
}

#profile-about-tab-content,
#profile-photos-tab-content,
#profile-songs-tab-content,
#profile-artists-tab-content {
    background-color: #fff;
}

#profile-timeline-tab-content {
    
}

#profile-timeline-tab-content .x-news-article {    
    padding: 10px;
    margin: 10px 10px 10px 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
}

#profile-timeline-tab-content .x-news-article h4{
    margin: 0;
    padding: 0;
}

#profile-timeline-tab-content .x-news-article h4 a{
    color: #3b5998;
    text-decoration: none;
}

#profile-timeline-tab-content .x-news-article .x-article-date{
    color: #9197a3;
    font-size: 14px;
}

#profile-timeline-tab-content .x-news-article .x-article-summary{
    margin-top: 10px;
    color: #555;
}

#profile-about-tab-content h4{
    margin-left: 16px;
}

#profile-about-tab-content .x-location-list {
    float: left;
    list-style: none;
}

#profile-about-tab-content .x-map-holder{
    overflow: hidden;
    float: left;
    margin-left: 16px;
}

#profile-about-tab-content .x-map-holder img {
    max-width: 100%;
}

#profile-tab-content .x-tab-content {
    height: 100%;
    overflow: auto;    
}

#profile-photos-tab-content {
    
}

#profile-photos-tab-content .x-photo-holder{
    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid #ccc;
    display: none;
    overflow: hidden;
    margin: 10px;
    float: left;
    border-radius: 10px;
    cursor: pointer;
}

#profile-photos-tab-content .x-photo-holder.x-display {
    display: table;
}

#profile-photos-tab-content .x-photo-holder .x-photo-holder-inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

#profile-photos-tab-content .x-photo-holder img{
    max-width: 270px;
    max-height: 270px;
}

#profile-songs-tab-content {
    
}

#profile-songs-tab-content .x-track-holder {
    margin: 10px;
    float: left;
    width: 350px;
    height: 70px;
    overflow: hidden;
    border: 1px solid #ccc;    
    cursor: pointer;
}

#profile-songs-tab-content .x-track-img-holder{
    background-size: cover;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    float: left;
    position: relative;
}

#profile-songs-tab-content .x-track-img-holder .x-play-button{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);    
    display: none;
    background-image: url(icons/play-icon.png);
    background-size: cover;
}


#profile-songs-tab-content .x-track-holder:hover .x-track-img-holder .x-play-button {
    display: block;
}

#profile-songs-tab-content .x-track-info {
    overflow: hidden;
    padding: 5px;
}

#profile-songs-tab-content .x-track-info .x-track-name h4{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    color: #3b5998;
    font-size: 16px;
}

#profile-songs-tab-content .x-track-info .x-track-album {
    color: #555;
}

#profile-artists-tab-content {
    
}

#profile-artists-tab-content .x-similar-artist-holder {
    width: 300px;
    height: 64px;
    overflow: hidden;
    margin: 10px;
    float: left;
    border: 1px solid #ccc;
}

#profile-artists-tab-content .x-similar-artist-holder .x-similar-artist-photo-holder {
    width: 64px;
    height: 64px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;    
}

#profile-artists-tab-content .x-similar-artist-holder .x-similar-artist-info {
    overflow: hidden;    
} 

#profile-artists-tab-content .x-similar-artist-holder .x-similar-artist-info h4 {
    padding: 0;
    margin: 5px;
    color: #3b5998;    
    cursor: pointer;
    font-size: 16px;
}

#profile-artists-tab-content .x-similar-artist-holder .x-similar-artist-info .x-similar-artist-num-followers {
    color: #555;
    font-size: 14px;
    margin-left: 5px;
}

.x-play-widget-holder {
    position: absolute;
    bottom: 5px;
    left: 20px;
    right: 20px;
    background: #282828;
    height: 80px;    
    overflow: hidden;
}

.x-play-widget-holder .x-album-cover {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    background-image: url(https://d3rt1990lpmkn.cloudfront.net/85/f8717f432506ab213c4de0c66d6ac24cd07ecf72);
}

.x-play-widget-holder .x-play-song-holder {
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
}

.x-play-widget-holder .x-song-name {
    color: #fff;
}

.x-play-widget-holder .x-artist-name {
    color: #a0a0a0;
}

.x-play-widget-holder .x-play-song-holder audio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    max-width: 800px;
    margin-left: 5px;
}



.x-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: none;
}

.x-modal.x-active {
    display: table;
}

.x-modal-x {
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #aaa;    
    text-align: center;
}

.x-modal .x-modal-x:hover {
    color: #ddd;
}


.x-modal .x-modal-inner {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.x-modal .x-modal-image-holder {
    width: 600px;
    max-height: 90%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

.x-modal .x-modal-image-holder img {
    max-width: 600px;
    max-height: 500px;
}

.x-modal-window {
    background-color: #fff;
    max-width: 600px;
    min-height: 300px;   
    max-height: 600px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    padding-bottom: 50px;
}

.x-modal-window h3 {
    margin-top: 0;
}

.x-modal-window .x-title-toolbar {
    width: 100%;
    height: 50px;
    background-color: #e9eaed;
    color: #000;
    padding-top: 13px;        
    padding-left: 20px;
    font-size: 20px;
}

.x-modal-window .x-bottom-toolbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
    text-align: right;
}

.x-modal-window .x-btn {
    display: inline-block;
    padding: 8px 50px;
    color: #fff;
    background-color: #2ebd59;
    border-radius: 30px;
    margin-top: 6px;
    margin-right: 10px;   
    cursor: pointer;
}

.x-modal-window .x-btn:hover {
    text-decoration: none;
}

.x-modal-window .x-content-toolbar {
    padding: 10px;
}

.x-empty-search {
    margin: 10px;
}

.s-artist-icon-64 {
    height: 64px;
    width: 64px;
    border-radius: 50px;
}
.s-heat-icon {
    height: 18px;
    width: 18px;
    padding-right: 5px;
}

.s-artist-holder {
    padding-top: 15px;
    padding-left: 8px;
}

.s-artist-row {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}